{% extends 'base.html' %}

{% block content%}

<div class="col-md-6 offset-md-3">
    <h2>Add Record</h2>
    <br>
    <form method="post" action="{% url 'add_record' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="first_name" placeholder="First Name" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="last_name" placeholder="Last Name" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="email" placeholder="Email" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="phone" placeholder="Phone Number" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="address" placeholder="Address" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="city" placeholder="City" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="state" placeholder="State" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="zipcode" placeholder="Zipcode" required>
        </div>
        <button type="submit" class="btn btn-secondary">Add Record</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    </form>
</div>

{% endblock %}