{% extends 'base.html' %}

{% block content%}

{% if user.is_authenticated %}
    <h4>Welcome, {{ user }}!</h4>
    <!-- <h2>Records...</h2> -->
    <br>
    {% if "No Connection to Database Server" in records %}
        {% for record in records %}
            <p>{{ record }}</p>
        {% endfor %}
    {% else %}
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zipcode</th>
            <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.first_name }} {{ record.last_name }}</td>
                <td><a href="{% url 'record' record.email %}">{{ record.email }}</a></td>
                <td>{{ record.phone }}</td>
                <td>{{ record.address }}</td>
                <td>{{ record.city }}</td>
                <td>{{ record.state }}</td>
                <td>{{ record.zipcode }}</td>
                <td>{{ record.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>`
    {% endif %}
{% else %}
    <br>
    <div class="col-md-6 offset-md-3">
        <h2>Defining CRM</h2>
        <h6>Customer relationship management (CRM) is a set of integrated, 
        data-driven software solutions that help manage, track, and store information related 
        to your company's current and potential customers. By keeping this information in a 
        centralised system, business teams have access to the insights they need, the moment 
        they need them.</h6>
        <h6>Without the support of an integrated CRM solution, your company may miss growth 
            opportunities and lose potential revenue because it's not optimising operating processes 
            or making the most of customer relationships and sales leads.</h6>
    </div>
{% endif %}
{% endblock %}