{% extends 'base.html' %}

{% block content%}
<div class="card">
    <div class="card-header">
        <b>{{ customer.first_name }} {{ customer.last_name }}</b>
    </div>
    <div class="card-body">
        <p class="card-text"><strong>Email:</strong> {{ customer.email }}</p>
        <p class="card-text"><strong>Phone No.:</strong> {{ customer.phone }}</p>
        <p class="card-text"><strong>Address:</strong> {{ customer.address }}</p>
        <p class="card-text"><strong>City:</strong> {{ customer.city }}</p>
        <p class="card-text"><strong>State:</strong> {{ customer.state }}</p>
        <p class="card-text"><strong>Zipcode:</strong> {{ customer.zipcode }}</p>
        <p class="card-text"><strong>Created At:</strong> {{ customer.created_at }}</p>
    </div>
</div>
<br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'delete' customer.email %}" class="btn btn-danger">Delete</a>
<a href="{% url 'edit_record' customer.email %}" class="btn btn-secondary">Edit Record</a>
{% endblock %} 